//git.solazu.net/api/v4/packages/npm/:_authToken=g_eDe6saWCvHcryL6uvZ
//git.solazu.net/api/v4/projects/347/packages/npm/:_authToken=g_eDe6saWCvHcryL6uvZ
@enterprise/saas-base-service:registry=https://git.solazu.net/api/v4/packages/npm/